area
aiohttp
beautifulsoup4
boto3
botocore
folium
geopandas
geojson
matplotlib
mysql_connector_repackaged
mysql-connector-python
nest_asyncio
numpy
pandas
pdfcrowd
plotly
python_dateutil
requests
shapely
sqlalchemy
streamlit
streamlit_folium
streamlit_js_eval
streamlit_option_menu
streamlit_vertical_slider
streamlit-toggle
streamlit_aggrid
PyMySQL
pypdf
unidecode
openpyxl
mapbox
scikit-learn