2captcha_python
aiohttp
area
beautifulsoup4
boto3
botocore
fitz
folium
geopandas
geojson
geopy
mapbox
matplotlib
mysql-connector-python
mysql_connector_repackaged
nest_asyncio
numpy
openpyxl
pandas
pdfcrowd
pdfservices_sdk
plotly
price_parser
pymupdf
PyMySQL
pypdf
pyproj
python_dateutil
requests
scikit-learn
shapely
sqlalchemy
streamlit
streamlit-aggrid
streamlit-toggle
streamlit_cookies_manager
streamlit_folium
streamlit_js_eval
streamlit_option_menu
streamlit_vertical_slider
unidecode